@import 'bourbon';

.spinner-three-bounce[data-spinner] {
  position: absolute;
  margin: 0 auto;
  width: 70px;
  text-align: center;
  z-index: 999;
  top: 47%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  &> div {
    width: 18px;
    height: 18px;
    background-color: #FFFFFF;
    border-radius: 100%;
    display: inline-block;
    @include animation(bouncedelay 1.4s infinite ease-in-out);
    /* Prevent first frame from flickering when animation starts */
    @include animation-fill-mode(both);
  }

  [data-bounce1] {
    @include animation-delay(-0.32s);
  }

  [data-bounce2] {
    @include animation-delay(-0.16s);
  }
}

@include keyframes(bouncedelay) {
  0%, 80%, 100% { @include transform(scale(0.0)); }
  40% { @include transform(scale(1.0)); }
}
